:root {
    --primary-color: #0313b0;
    --primary-color: #ffffff;
}

@font-face {
    font-family: vnm ;
    src: url(./VNM-Sans-Display-Regular.otf);
}

body {
    margin: 10% auto;
    color: #ffffff;
    text-align: center;
    font-family: vnm;
    background-color: #0313b0;
}

.text1 {
    font-size: 2vw;
}

.text2 {
    font-size: 10vw;
}

.text3 {
    font-size: 4vw;
}

.mini-text {
    padding: 10vw;
}

.icon {
    font-size: 2vw;
    padding: 30px;
}

.box {
    margin: 4vw;
}


